@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100vh;
}

/* teste*/
/* body,
#root {
  height: 200vh;
} */

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
